# Analytics
VITE_GA4_ID=G-XXXXXXXXXX
VITE_GTM_ID=GTM-XXXXXXX
VITE_META_PIXEL_ID=XXXXXXXXXXXXXX

# Google Forms
VITE_CONTACT_FORM_URL=https://docs.google.com/forms/d/e/.../formResponse
VITE_BOOKING_FORM_URL=https://docs.google.com/forms/d/e/.../formResponse

# WhatsApp
VITE_WHATSAPP_NUMBER=12345678900

# App Config
VITE_APP_URL=https://www.viv53.com
VITE_APP_NAME=VIV53 IT Services
